{% extends "base.html" %}

{% block title %}
<h1>Polynomial Equation Solver</h1>
<p>A polynomial equation solver, accurate up to five decimal places. Please enter below:</p> 
{% endblock %}

{% block content %}
<h3><p style="text-align:center;">
    Please enter an equation in form ax^i + bx^i-1 + ... + cx + d.
</p></h3>

For example, to solve \(x^2 - 6x + 5\), type x^2 - 6x + 5.

<!-- Input Form -->
<form>
    <div class="form-group">
        <!-- Use name to reference input data AFTER form submission -->
        <input type="text" name="eq" class="form-control" placeholder="Enter equation">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Zeros + Graph -->
{% if submit %}
<div class="row">
    <!-- Zeros -->
    <div class="col-xl-6">
        <p><h3>Your equation: y = \({{eq}}\)</h3></p> 
        <p><h3>Zeros:</h3></p> 
        {%if not zeros%}
            <p><h4>This equation has NO ZEROS. You can verify this with the graph on the right.</h4></p>
            {%if complex_sols%}
            <p>However, your equation actually has <b>complex zeros:</b></p>
                {%for zero in complex_sols%}
                <li>
                    x = {{zero}}
                </li>
                {%endfor%} 
            {%endif%}
        {%else %}
            {%for zero in zeros%}
                <li>
                    x = {{zero}}
                </li>
            {%endfor%} 
            Check these solutions with the graph on the right! They are the points where the graph intersects the x-axis.
        {% endif %}
    </div>
    <!-- Graph -->
    <div class="col-xl-6">
        <div id="calculator" style="width: 550px; height: 300px;"></div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block extrajs %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
</script>
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<!-- Populate -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt, {expressions: false});
    var eq = 'y=' + '{{eq}}';
    calculator.setExpression({id:'graph1', latex:eq});
</script>
{% endblock %}