{% extends "base.html" %}

{% block extracss %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/static/vendor/formvalidation/dist/css/formValidation.min.css">
{% endblock %}

{% block title %}
<h1>Polynomial Equation Solver</h1>
<p>A polynomial equation solver I designed. Credits to Desmos for the graphing utility.</p> 
{% endblock %}

{% block content %}
<h4><p style="text-align:center;">
    Please enter a polynomial equation in terms of \( x \). 
</p></h4>

For example, to solve \(x^2 - 6x + 5\), type x^2 - 6x + 5. To solve \( (x-3)^3 + 2x\), type (x-3)^3 + 2x. 
The solver will also simplify the equation for you.

<!-- Input Form -->
<form id="eq_form">
    <div class="form-group">
        <!-- Use name to reference input data AFTER form submission -->
        <input type="text" name="eq" class="form-control" placeholder="Enter equation">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Zeros + Graph -->
{% if submit %}
<div class="row">
    <!-- Zeros -->
    <div class="col-xl-6">
        <p><h3>Your equation: y = \({{eq}}\)</h3></p> 
        <p><h5>Your equation has {{zeros|length}} real zeros. You can verify this with the graph on the right.</h5></p> 
        {%if not zeros%}
            {%if complex_sols%}
            <p>However, your equation actually has <b>{{complex_sols|length}} complex zeros:</b></p>
                {%for zero in complex_sols%}
                <li>
                    x = {{zero}}
                </li>
                {%endfor%} 
            {%endif%}
        {%else %}
            {%for zero in zeros%}
                <li>
                    x = {{zero}}
                </li>
            {%endfor%} 
            Check these solutions with the graph on the right! They are the points where the graph intersects the x-axis.
        {% endif %}
    </div>
    <!-- Graph -->
    <div class="col-xl-6">
        <div id="calculator" style="width: 550px; height: 300px;"></div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block extrajs %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
</script>
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<!-- Populate -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt, {expressions: false});
    var eq = 'y=' + '{{eq}}';
    calculator.setExpression({id:'graph1', latex:eq});
</script>
<script src="/static/vendor/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="/static/vendor/formvalidation/dist/js/plugins/Bootstrap.min.js"></script>
<!-- Input Validation -->
<script>
document.addEventListener('DOMContentLoaded', function(e) {
    const form = document.getElementById('eq_form');
    FormValidation.formValidation(form, {
        fields: {
            eq: {
                validators: {
                    notEmpty: {
                        message: 'Please enter an equation.'
                    },
                    callback: {
                        message: 'Invalid equation: please only use x and standard arithmetic operations.',
                        callback: function(input) {
                            return /^[x\d\+\-\^\/\s\(\)]*$/.test(input.value);
                        }
                    }
                }
            },
        },
        plugins: {
            trigger: new FormValidation.plugins.Trigger(),
            bootstrap: new FormValidation.plugins.Bootstrap(),
			submitButton: new FormValidation.plugins.SubmitButton(),
			defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            icon: new FormValidation.plugins.Icon({
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh',
            }),
        },
    });
});
</script>
{% endblock %}