{% extends "base.html" %}
{% block title %}
<h1>Projects</h1>
<p>Below are some of the demoable projects I've created!</p> 
{% endblock %}

{% block content %}
<style>
    .row-spaced{
        margin-bottom: 30px
    }
</style>

<div class="row row-spaced">
    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="{{url_for('calc_js')}}">Calculator</a></h3>
                  <p>A simple Javascript-enabled calculator.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="{{url_for('eq_solver')}}">Polynomial Equation Solver</a></h3>
                  <p>A polynomial equation solver with graphing.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="{{url_for('py_interpreter')}}">KMPy</a></h3>
                  <p>A Bare-bones Python compiler + editor.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="{{url_for('py_interpreter')}}">ChessDB Remastered</a></h3>
                  <p>A chess-playing application I built via JavaFX. Complete with game saving, move commentary, and analysis engine.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="https://github.com/kmoy1/CollegeStatScraper">NCAA Bball Stat Scraper</a></h3>
                  <p>College/International/G-league/HS statistic scraper for every drafted player in the last 10 NBA drafts.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="https://github.com/kmoy1/CheapestNetwork">Cheapest Network</a></h3>
                  <p>Algorithm I built to find the minimum dominating set of a graph G that minimizes average pairwise distance.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}