{% extends "base.html" %}
{% block title %}
<h1>Notes</h1>
<p>Below are notes I've taken for various classes.</p> 
{% endblock %}

{% block content %}
<p>NOTE: This page is still under construction!</p>
{%for i in range(len)%} 
<div class="row">
    <div class="col-lg-12" style="width:14px;">
        <div class="card shadow">
            <div class="card-body">
                  <h3><a href="{{routes[i]}}">{{subjects[i]}}</a></h3>
            </div>
        </div>
    </div>
</div>
{%endfor%} 
{% endblock %}