{% extends "base.html" %}
{% block title %}
<h1>Cool Problems</h1>
<p>Some problems I've come across (and made!) over the years.</p> 
{% endblock %}

{% block content %}
    {%for i in range(N)%} 
        <div class="row">
            <div class="col-sm-12" style="width:14px;">
                <div class="card shadow">
                    <div class="card-body">
                        <h3><a href="{{routes[i]}}">{{subjects[i]}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%} 
{% endblock %}  