{% extends "base.html" %}
{% block title %}
<h1>About Me</h1>
{% endblock %}

{% block content %}
<p style="text-align:center;">Hi! My name is Kevin Moy, and I’m a sophomore majoring in computer science and data science at UC Berkeley.</p>

<p style="text-align:center;">In addition to programming and computer science, I’m also incredibly passionate about sports and games, 
and consistently look for ways to merge the two concepts together. 
The beauty of finding patterns in the dynamic and unpredictable nature of sports through computer science 
fuels my passion into this field.
</p>

<p style="text-align:center;">The inherent feeling of fulfillment and satisfaction I get from helping others led me to seek many different teaching jobs.
This ranges from chess to teaching computer science at Cal.
I’ve published some of the notes/observations/articles/rants I’ve written on this site over time.
</p>

<p class="text-center">Chess has been a love of mine since the age of six, 
and have developed myself into a certified Candidate Master with USCF rating 2184. 
Teaching chess, as well as directing chess tournaments, are two professions I’ve had for over six years.
</p>

<p class="text-center">For any inquiries, comments about my notes/resources, or simply to connect, 
reach out at any time to kevinmoy@berkeley.edu.
</p>

{% endblock %}