{%extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/vendor/formvalidation/dist/css/formValidation.min.css">
{% endblock %}

{%block content%}
<iframe height="400px" width="100%" src="https://repl.it/@KevinMoy1/MortifiedSociableMarkuplanguage?lite=true" scrolling="no" 
frameborder="no" allowtransparency="true" allowfullscreen="true" 
sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{%endblock%}

